
<div class="container main-container">
 <h1>Chat Ut</h1>
  <div class="col-md-12 text-right" *ngIf="charServicio.usuario.uid">
   <button class="btn btn-outline-danger"
           (click)="charServicio.logout()">Salir</button>
  </div>

  <app-login *ngIf="!charServicio.usuario.uid"></app-login>

  <div class="chat-window" *ngIf="charServicio.usuario.uid">
    <chat></chat>
  </div> 
  
</div> 

<!-- <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Base de datos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActivate="active">
        <a class="nav-link" routerLink='insertar'>Insertar</a>
      </li>
      <li class="nav-item" routerLinkActivate="active">
        <a class="nav-link" routerLink='consultar'>Consultar</a>
      </li>
      
    </ul>
    
  </div>
</nav>
<router-outlet></router-outlet> -->